.log-activity-wrapper {
  background-color: #f9fafe;
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  width: 100% ;
  margin: auto;
}

.activity-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  gap: 10px;
}

.card {
  flex: 1;
  background: #fff;
  min-width: 120px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: bold;
}

.log-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  background: none;
  font-weight: bold;
}

.tabs .active-tab {
  border-bottom: 2px solid #3b82f6;
  color: #3b82f6;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.form-row div {
  flex: 1;
}

.log-button {
  background-color: #2563eb;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.graph-section {
  align-items: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  margin: auto;
}
