.auth-container {
  max-width: 400px;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.auth-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.auth-button {
  background-color: #28a745;
  color: #fff;
  padding: 12px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-google {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.auth-facebook {
  width: 100%;
  padding: 10px;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
}
